<!DOCTYPE html>
<html>
<head>
  <title>Current User Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="../js/underscore-min.js"></script>
  <script type="text/javascript" src="../js/user.js"></script>
  
</head>
<body>

<script type="text/x-template" id="user-template">
  <%= email %><br>
  <%= first_name %><br>
  <%= last_name %><br>
  <%= type_of_cyclist %><br>
  <%= about_me %><br>
  <img src="<%= profile_pic %>">
</script>

<script type="text/x-template" id="user-images">
<%= images%>

</script>


  <div id="current-user-name">

  </div>

  <div id="images">
    
  </div>

</body>
</html>