<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="../js/underscore-min.js"></script>
  <script type="text/javascript" src="../js/token.js"></script>
  <script type="text/javascript" src="../js/user-edit.js"></script>
  
</head>
<body>
<h1>Users Edit</h1>

<script type="text/x-template" id="user-edit-form">
  
  <form method="put">

    <label for="email">Email</label>
    <input type="text" name="local.email" id="email" value="<%= email %>">

    <label for="password">Password</label>
    <input type="password" name="local.password" id="password">

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>">

    <label for="profile_pic">Profile Pic</label>
    <input type="text" name="profile_pic" id="profile_pic" value="<%= profile_pic %>">

    <label for="type_of_cyclist">Type of Cyclist</label>
    <input type="text" name="type_of_cyclist" id="type_of_cyclist" value="<%= type_of_cyclist %>">

    <label for="about_me">About Me</label>
    <textarea name="about_me" id="about_me">
    <%= about_me %>
    </textarea>

    <label for="city">City</label>
    <input type="text" name="city" id="city" value="<%= city %>">


    <input type="submit" value="update">
  </form>

</script>

<div id="user-edit">
  <button id="delete-user"></button>
</div>

</body>
</html>