body {
  background-color: aliceblue;
}

nav {
  color: #fff;
  background-color: lightslategrey;
  width: 100%;
  height: 120px;
  line-height: 120px; 
  letter-spacing: 5px;
}
nav a {
  color: deeppink; 
}


nav ul li:hover, nav ul li.active {
  border-radius:  ;
  background-color: hotpink;
  transition: opacity .55s ease-in;
}

nav .nav-wrapper {
  position: relative;
  height: 100%; }
  nav .nav-wrapper i {
    display: block;
    font-size: 2rem; }


nav .brand-logo {
      position: relative;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 10px;
      white-space: nowrap; 

}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: lightslategrey;
  border-radius: 10px; 
  }

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: slate; }

.login-background {
  width: 100%;
  border-radius: 10px;
  background-color: white;


}
.h1new {
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
  font-family: Amatic SC;
  font-size: 100px;
  color: hotpink;
  letter-spacing: 5px;
  border-radius: 10px;
}
.small {
  opacity: 1;

}
.image_back {
  width: inherit;
  margin: auto 0;
  background-image: url('./images/login-logo2.png');
}
.login_circle {
width: 75%;
height: 500px;
padding: 50px;
border-radius: 50px;
background-color: aliceblue;
}

.loginform {
  width: 300px;
      margin: 60px auto 30px;
      padding: 10px;
      position: relative;
}